@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url(//db.onlinewebfonts.com/c/fdf5df963bbca42b10db6633c41aa286?family=Mr+Sheffield);

/*====Resetting=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  overflow-x: hidden;
}
.gray-bg{
  background-color: rgba(207, 199, 186, 0.1);
}

.pink-bg{
  background-color: rgba(206, 143, 131, 0.1)
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #707070;
}
a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  text-decoration-color: none !important;
}

.section-padding{
  padding: 100px 16px;
}

/*====Landing====*/

.landing .first-section {
  background-image: url(./assets/images/landing1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  animation: slide 20s infinite;
}

.home-data {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.button {
  width: 150px;
  height: 62px;
  text-align: center;
  color: #fff;
  font-family: 'NobelBook';
  background: #868b73;
  border-radius: 15px;
  padding: 22px;
}

.home-title {
  font-family: "NobelBook";
  font-size: 6rem;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
}

.home-subtitle {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 2rem;
  line-height: 60px;
  font-weight: normal;
  letter-spacing: 3px;
  font-family: "Nobel LightCondensed ";
}

@keyframes slide {
  0% {
    background-image: url(./assets/images/landing1.jpg);
  }
  33% {
    background-image: url(./assets/images/landing2.jpg);
  }
  67% {
    background-image: url(./assets/images/landing3.jpg);
  }
}
@media screen and (max-width: 415px) {
  .home-title{
    font-size: 40px;
  }
  .home-subtitle{
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .home-data {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-container {
  width: 100%;
  display: flex;
}
.about-section-img {
  width: 45%;
  background-color: rgba(174, 181, 148, 0.1);
  padding-top: 230px;
  padding-bottom: 50px;
  padding-right: 550px;
}

.about-img {
  width: 700px;
  border-radius: 0.5rem;
}

.about-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
}

.section-title {
  font-family: Nobel;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
}

.section-subtitle {
  font-family: Nobel;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.about-subtitle {
  color: #868b73;
}

.section-tags {
  font-size: "NobelBook";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  color: #868b73;
}

.description {
  font-size: "NobelBook";
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  line-height: 27.6px;
  padding-bottom: 40px;
}

/*////////////////////////////////////
    LANDING-PAGE
///////////////////////////////////*/
.products-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.landing-products-wraper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;

}
.landing-products-wraper_title{
  width: 33%;
  background-color: #fff;
}
.landing-products-wraper_content{
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(206, 143, 131, 0.1);
}
.landing-products-items{
  padding: 16px;
}
.landing-products-container{
  margin: 20px;
  justify-content: space-between;
  width: 40%;
}
.landing-products-wraper_title-categories{
  width: 50%;
  margin-left: auto;
  border-bottom: 1px solid #868B73;
}
.landing-products-wraper_title-products{
  text-align: center;
}
.landing-products_title-services{
  text-align: center;
}
.landing-products_title-offer{
  width: 50%;
  margin-left: auto;
  border-bottom: 1px solid #868B73;
}

.aboutus-container{
  width: 20%;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #868B73;
  padding: 10px 0px;
  margin: 20px 0px ;
}
.landing-aboutus-title{
  text-align: end;
  margin-left: auto;
}
/* .product-img{
  background-color: #ffffff;
  border-radius: 4px;
  width: 250px;
  padding: 32px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
} */
@media screen and (max-width:800px){
  .landing-products-wraper{
    flex-direction: column;
  }
  .landing-products-wraper_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }
  .landing-products-wraper_content{
    width:100%;
    padding: 0px;
    margin: 0px;
    align-items: flex-start;
  }
  .landing-products-wraper_title-categories{
    border-bottom: 1px solid #868B73;
    width: 70%;
    display: flex;
    align-self: flex-end;
  }

 .landing-products-wraper_title-products{
    text-align: center;
  }
  .landing-products_title-offer{
    border-bottom: 1px solid #868B73;
    width: 70%;
    display: flex;
    align-self: flex-end;
  }
  .landing-products_title-services{
    text-align: center;
  }
  .landing-products-items{
    padding: 20px;
    margin: 0px 15px;
  }
 
  .aboutus-container {
    width: 60%;
  }
  .product-img{
    width: 70px;
    height: 70px;
  }
  .landing-products-container{
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 0px;
  }
}

@media (max-width: 767px) {
    .section-padding{
      padding: 32px 16px;
    }
}
.landing-products .product-img {
  width: 250px;
  padding: auto;
}
.service-title{
  color: #868B73;
}
.service-subtitle{
  color: #868B73;
}
.service-data .service-icon{
  display: flex;
  flex-direction: column;  
}
.service-data-sec{
  display: flex;
  justify-content: space-between;
}
